<script>
  function activeClass(id){
    $(id).addClass("active");
  }
  function initActiveClass(id){
    $(id).removeClass("active");
  }
  function initAllActiveClass(){
    initActiveClass("#btn_dashBoard");
    initActiveClass("#btn_chat");
    initActiveClass("#btn_calendar");
  }

</script>

<section id="btn_main_logo" class="leftSection active">
  <i class="xi-paperclip xi-3x"></i>
</section>
<br />
<br />
<br />
<br />
<br />
<br />

<a href="/login">
  <section id="btn_Login"class="leftSection">
    <i class="xi-log-in xi-3x"></i>
  </section>
</a>
<a>
  <section  id="btn_dashBoard" class="leftSection">
    <i class="xi-chart-pie xi-3x"></i>
  </section>
</a>
<a>
  <section id="btn_chat" class="leftSection active">
    <i class="xi-message-o xi-3x"></i>
  </section>
</a>
<a>
  <section id="btn_calendar" class="leftSection">
    <i class="xi-calendar xi-3x"></i>
  </section>
</a>
<!--<li routerLinkActive="active"><a [routerLink]="['/collection']">Collection</a></li>-->
<!--<li routerLinkActive="active"><a [routerLink]="['/market']">Market</a></li>-->
